In [1]:
pip install pandas

Defaulting to user installation because normal site-packages is not writeable
Requirement already satisfied: pandas in c:\users\admin\appdata\local\packages\pythonsoftwarefoundation.python.3.12_qbz5n2kfra8p0\localcache\local-packages\python312\site-packages (2.2.2)
Requirement already satisfied: numpy>=1.26.0 in c:\users\admin\appdata\local\packages\pythonsoftwarefoundation.python.3.12_qbz5n2kfra8p0\localcache\local-packages\python312\site-packages (from pandas) (1.26.4)
Requirement already satisfied: python-dateutil>=2.8.2 in c:\users\admin\appdata\local\packages\pythonsoftwarefoundation.python.3.12_qbz5n2kfra8p0\localcache\local-packages\python312\site-packages (from pandas) (2.9.0.post0)
Requirement already satisfied: pytz>=2020.1 in c:\users\admin\appdata\local\packages\pythonsoftwarefoundation.python.3.12_qbz5n2kfra8p0\localcache\local-packages\python312\site-packages (from pandas) (2024.1)
Requirement already satisfied: tzdata>=2022.7 in c:\users\admin\appdata\local\packages\pythonsoftwarefoundation.python.3.12_qbz5n2kfra8p0\localcache\local-packages\python312\site-packages (from pandas) (2024.1)
Requirement already satisfied: six>=1.5 in c:\users\admin\appdata\local\packages\pythonsoftwarefoundation.python.3.12_qbz5n2kfra8p0\localcache\local-packages\python312\site-packages (from python-dateutil>=2.8.2->pandas) (1.16.0)
Note: you may need to restart the kernel to use updated packages.

In [2]:
pip install mysql-connector-python

Defaulting to user installation because normal site-packages is not writeable
Requirement already satisfied: mysql-connector-python in c:\users\admin\appdata\local\packages\pythonsoftwarefoundation.python.3.12_qbz5n2kfra8p0\localcache\local-packages\python312\site-packages (9.0.0)
Note: you may need to restart the kernel to use updated packages.

In [6]:
pip install matplotlib

Defaulting to user installation because normal site-packages is not writeable
Requirement already satisfied: matplotlib in c:\users\admin\appdata\local\packages\pythonsoftwarefoundation.python.3.12_qbz5n2kfra8p0\localcache\local-packages\python312\site-packages (3.9.1)
Requirement already satisfied: contourpy>=1.0.1 in c:\users\admin\appdata\local\packages\pythonsoftwarefoundation.python.3.12_qbz5n2kfra8p0\localcache\local-packages\python312\site-packages (from matplotlib) (1.2.1)
Requirement already satisfied: cycler>=0.10 in c:\users\admin\appdata\local\packages\pythonsoftwarefoundation.python.3.12_qbz5n2kfra8p0\localcache\local-packages\python312\site-packages (from matplotlib) (0.12.1)
Requirement already satisfied: fonttools>=4.22.0 in c:\users\admin\appdata\local\packages\pythonsoftwarefoundation.python.3.12_qbz5n2kfra8p0\localcache\local-packages\python312\site-packages (from matplotlib) (4.53.1)
Requirement already satisfied: kiwisolver>=1.3.1 in c:\users\admin\appdata\local\packages\pythonsoftwarefoundation.python.3.12_qbz5n2kfra8p0\localcache\local-packages\python312\site-packages (from matplotlib) (1.4.5)
Requirement already satisfied: numpy>=1.23 in c:\users\admin\appdata\local\packages\pythonsoftwarefoundation.python.3.12_qbz5n2kfra8p0\localcache\local-packages\python312\site-packages (from matplotlib) (1.26.4)
Requirement already satisfied: packaging>=20.0 in c:\users\admin\appdata\local\packages\pythonsoftwarefoundation.python.3.12_qbz5n2kfra8p0\localcache\local-packages\python312\site-packages (from matplotlib) (24.0)
Requirement already satisfied: pillow>=8 in c:\users\admin\appdata\local\packages\pythonsoftwarefoundation.python.3.12_qbz5n2kfra8p0\localcache\local-packages\python312\site-packages (from matplotlib) (10.4.0)
Requirement already satisfied: pyparsing>=2.3.1 in c:\users\admin\appdata\local\packages\pythonsoftwarefoundation.python.3.12_qbz5n2kfra8p0\localcache\local-packages\python312\site-packages (from matplotlib) (3.1.2)
Requirement already satisfied: python-dateutil>=2.7 in c:\users\admin\appdata\local\packages\pythonsoftwarefoundation.python.3.12_qbz5n2kfra8p0\localcache\local-packages\python312\site-packages (from matplotlib) (2.9.0.post0)
Requirement already satisfied: six>=1.5 in c:\users\admin\appdata\local\packages\pythonsoftwarefoundation.python.3.12_qbz5n2kfra8p0\localcache\local-packages\python312\site-packages (from python-dateutil>=2.7->matplotlib) (1.16.0)
Note: you may need to restart the kernel to use updated packages.

In [8]:
pip install seaborn

Defaulting to user installation because normal site-packages is not writeable
Requirement already satisfied: seaborn in c:\users\admin\appdata\local\packages\pythonsoftwarefoundation.python.3.12_qbz5n2kfra8p0\localcache\local-packages\python312\site-packages (0.13.2)
Requirement already satisfied: numpy!=1.24.0,>=1.20 in c:\users\admin\appdata\local\packages\pythonsoftwarefoundation.python.3.12_qbz5n2kfra8p0\localcache\local-packages\python312\site-packages (from seaborn) (1.26.4)
Requirement already satisfied: pandas>=1.2 in c:\users\admin\appdata\local\packages\pythonsoftwarefoundation.python.3.12_qbz5n2kfra8p0\localcache\local-packages\python312\site-packages (from seaborn) (2.2.2)
Requirement already satisfied: matplotlib!=3.6.1,>=3.4 in c:\users\admin\appdata\local\packages\pythonsoftwarefoundation.python.3.12_qbz5n2kfra8p0\localcache\local-packages\python312\site-packages (from seaborn) (3.9.1)
Requirement already satisfied: contourpy>=1.0.1 in c:\users\admin\appdata\local\packages\pythonsoftwarefoundation.python.3.12_qbz5n2kfra8p0\localcache\local-packages\python312\site-packages (from matplotlib!=3.6.1,>=3.4->seaborn) (1.2.1)
Requirement already satisfied: cycler>=0.10 in c:\users\admin\appdata\local\packages\pythonsoftwarefoundation.python.3.12_qbz5n2kfra8p0\localcache\local-packages\python312\site-packages (from matplotlib!=3.6.1,>=3.4->seaborn) (0.12.1)
Requirement already satisfied: fonttools>=4.22.0 in c:\users\admin\appdata\local\packages\pythonsoftwarefoundation.python.3.12_qbz5n2kfra8p0\localcache\local-packages\python312\site-packages (from matplotlib!=3.6.1,>=3.4->seaborn) (4.53.1)
Requirement already satisfied: kiwisolver>=1.3.1 in c:\users\admin\appdata\local\packages\pythonsoftwarefoundation.python.3.12_qbz5n2kfra8p0\localcache\local-packages\python312\site-packages (from matplotlib!=3.6.1,>=3.4->seaborn) (1.4.5)
Requirement already satisfied: packaging>=20.0 in c:\users\admin\appdata\local\packages\pythonsoftwarefoundation.python.3.12_qbz5n2kfra8p0\localcache\local-packages\python312\site-packages (from matplotlib!=3.6.1,>=3.4->seaborn) (24.0)
Requirement already satisfied: pillow>=8 in c:\users\admin\appdata\local\packages\pythonsoftwarefoundation.python.3.12_qbz5n2kfra8p0\localcache\local-packages\python312\site-packages (from matplotlib!=3.6.1,>=3.4->seaborn) (10.4.0)
Requirement already satisfied: pyparsing>=2.3.1 in c:\users\admin\appdata\local\packages\pythonsoftwarefoundation.python.3.12_qbz5n2kfra8p0\localcache\local-packages\python312\site-packages (from matplotlib!=3.6.1,>=3.4->seaborn) (3.1.2)
Requirement already satisfied: python-dateutil>=2.7 in c:\users\admin\appdata\local\packages\pythonsoftwarefoundation.python.3.12_qbz5n2kfra8p0\localcache\local-packages\python312\site-packages (from matplotlib!=3.6.1,>=3.4->seaborn) (2.9.0.post0)
Requirement already satisfied: pytz>=2020.1 in c:\users\admin\appdata\local\packages\pythonsoftwarefoundation.python.3.12_qbz5n2kfra8p0\localcache\local-packages\python312\site-packages (from pandas>=1.2->seaborn) (2024.1)
Requirement already satisfied: tzdata>=2022.7 in c:\users\admin\appdata\local\packages\pythonsoftwarefoundation.python.3.12_qbz5n2kfra8p0\localcache\local-packages\python312\site-packages (from pandas>=1.2->seaborn) (2024.1)
Requirement already satisfied: six>=1.5 in c:\users\admin\appdata\local\packages\pythonsoftwarefoundation.python.3.12_qbz5n2kfra8p0\localcache\local-packages\python312\site-packages (from python-dateutil>=2.7->matplotlib!=3.6.1,>=3.4->seaborn) (1.16.0)
Note: you may need to restart the kernel to use updated packages.

In [8]:
pip install pymysql

Defaulting to user installation because normal site-packages is not writeable
Requirement already satisfied: pymysql in c:\users\admin\appdata\local\packages\pythonsoftwarefoundation.python.3.12_qbz5n2kfra8p0\localcache\local-packages\python312\site-packages (1.1.1)
Note: you may need to restart the kernel to use updated packages.

In [37]:
import pandas as pd
import mysql.connector
import os

# List of CSV files and their corresponding table names
csv_files = [
    ('train.csv', 'train')# Added payments.csv for specific handling
]

# Connect to the MySQL database
import pymysql

conn = pymysql.connect(
    host='localhost',
    user='root',
    password='renurana',
    database='new_media'
)
cursor = conn.cursor()

cursor = conn.cursor()

# Folder containing the CSV files
folder_path = r"C:\Users\Admin\OneDrive\Documents\social media folder"

def get_sql_type(dtype):
    if pd.api.types.is_integer_dtype(dtype):
        return 'INT'
    elif pd.api.types.is_float_dtype(dtype):
        return 'FLOAT'
    elif pd.api.types.is_bool_dtype(dtype):
        return 'BOOLEAN'
    elif pd.api.types.is_datetime64_any_dtype(dtype):
        return 'DATETIME'
    else:
        return 'TEXT'

for csv_file, table_name in csv_files:
    file_path = os.path.join(folder_path, csv_file)
    
    # Read the CSV file into a pandas DataFrame
    df = pd.read_csv(file_path)
    
    # Replace NaN with None to handle SQL NULL
    df = df.where(pd.notnull(df), None)
    
    # Debugging: Check for NaN values
    print(f"Processing {csv_file}")
    print(f"NaN values before replacement:\n{df.isnull().sum()}\n")

    # Clean column names
    df.columns = [col.replace(' ', '_').replace('-', '_').replace('.', '_') for col in df.columns]

    # Generate the CREATE TABLE statement with appropriate data types
    columns = ', '.join([f'`{col}` {get_sql_type(df[col].dtype)}' for col in df.columns])
    create_table_query = f'CREATE TABLE IF NOT EXISTS `{table_name}` ({columns})'
    cursor.execute(create_table_query)

    # Insert DataFrame data into the MySQL table
    for _, row in df.iterrows():
        # Convert row to tuple and handle NaN/None explicitly
        values = tuple(None if pd.isna(x) else x for x in row)
        sql = f"INSERT INTO `{table_name}` ({', '.join(['`' + col + '`' for col in df.columns])}) VALUES ({', '.join(['%s'] * len(row))})"
        cursor.execute(sql, values)

    # Commit the transaction for the current CSV file
    conn.commit()

# Close the connection
conn.close()

Processing train.csv
NaN values before replacement:
User_ID                       0
Age                           0
Gender                        1
Platform                      1
Daily_Usage_Time (minutes)    1
Posts_Per_Day                 1
Likes_Received_Per_Day        1
Comments_Received_Per_Day     1
Messages_Sent_Per_Day         1
Dominant_Emotion              1
dtype: int64

OperationalError: (1054, "Unknown column 'Daily_Usage_Time_(minutes)' in 'field list'")

In [9]:
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
import mysql.connector
import numpy as np

In [10]:
db = pymysql.connect(
    host='localhost',
    user='root',
    password='renurana',
    database='new_media'
)
cur=db.cursor()

In [13]:
query="""alter table train
rename column `Daily_Usage_Time_(minutes)`  to `daily_usage_time_minutes`;"""

cur.execute(query)
data=cur.fetchall()

data

OperationalError: (1054, "Unknown column 'Daily_Usage_Time_(minutes)' in 'train'")

# What are the daily usage times for all users?

In [14]:
query="""SELECT daily_usage_time_minutes,User_ID
from train
limit 10; """

cur.execute(query)
data=cur.fetchall()

data

((120.0, '1'),
 (90.0, '2'),
 (60.0, '3'),
 (200.0, '4'),
 (45.0, '5'),
 (150.0, '6'),
 (85.0, '7'),
 (110.0, '8'),
 (55.0, '9'),
 (170.0, '10'))

# How many users are on each platform?

In [15]:
query="""select count(User_ID), Platform
from train
group by train.Platform """

cur.execute(query)
data=cur.fetchall()

df=pd.DataFrame(data,columns=["no. of users","Platform"])
df

   no. of users   Platform
0           250  Instagram
1           200    Twitter
2           190   Facebook
3           120   LinkedIn
4            80   Whatsapp
5            80   Telegram
6            80   Snapchat
7             1       None

# Who are the male users?

In [32]:
query="""select User_ID,Age,Platform 
from train 
where Gender='Male' 
"""

cur.execute(query)
data=cur.fetchall()

data

(('2', '30', 'Twitter'),
 ('5', '33', 'LinkedIn'),
 ('6', '21', 'Instagram'),
 ('10', '31', 'Instagram'),
 ('13', '34', 'LinkedIn'),
 ('15', '28', 'Twitter'),
 ('18', '27', 'Twitter'),
 ('21', '26', 'Facebook'),
 ('23', '29', 'LinkedIn'),
 ('26', '31', 'Facebook'),
 ('29', '30', 'Twitter'),
 ('32', '28', 'Instagram'),
 ('35', '29', 'Facebook'),
 ('38', '27', 'Twitter'),
 ('41', '31', 'LinkedIn'),
 ('43', '29', 'Twitter'),
 ('46', '30', 'Instagram'),
 ('49', '32', 'Instagram'),
 ('51', '27', 'Instagram'),
 ('55', '31', 'LinkedIn'),
 ('57', '25', 'Telegram'),
 ('60', '27', 'Facebook'),
 ('62', '23', 'Whatsapp'),
 ('65', '25', 'Twitter'),
 ('67', '28', 'Instagram'),
 ('69', '27', 'Telegram'),
 ('72', '35', 'Twitter'),
 ('75', '25', 'Telegram'),
 ('78', '26', 'Twitter'),
 ('81', '31', 'Telegram'),
 ('84', '22', 'Twitter'),
 ('87', '31', 'Telegram'),
 ('90', '30', 'Twitter'),
 ('93', '24', 'Telegram'),
 ('95', '26', 'Instagram'),
 ('98', '35', 'Whatsapp'),
 ('102', '30', 'Twitter'),
 ('105', '33', 'LinkedIn'),
 ('106', '21', 'Instagram'),
 ('110', '31', 'Instagram'),
 ('113', '34', 'LinkedIn'),
 ('115', '28', 'Twitter'),
 ('118', '27', 'Twitter'),
 ('121', '26', 'Facebook'),
 ('123', '29', 'LinkedIn'),
 ('126', '31', 'Facebook'),
 ('129', '30', 'Twitter'),
 ('132', '28', 'Instagram'),
 ('135', '29', 'Facebook'),
 ('138', '27', 'Twitter'),
 ('141', '31', 'LinkedIn'),
 ('143', '29', 'Twitter'),
 ('146', '30', 'Instagram'),
 ('149', '32', 'Instagram'),
 ('151', '27', 'Instagram'),
 ('155', '31', 'LinkedIn'),
 ('157', '25', 'Telegram'),
 ('160', '27', 'Facebook'),
 ('162', '23', 'Whatsapp'),
 ('165', '25', 'Twitter'),
 ('167', '28', 'Instagram'),
 ('169', '27', 'Telegram'),
 ('172', '35', 'Twitter'),
 ('175', '25', 'Telegram'),
 ('178', '26', 'Twitter'),
 ('181', '31', 'Telegram'),
 ('184', '22', 'Twitter'),
 ('187', '31', 'Telegram'),
 ('190', '30', 'Twitter'),
 ('193', '24', 'Telegram'),
 ('195', '26', 'Instagram'),
 ('198', '35', 'Whatsapp'),
 ('202', '30', 'Twitter'),
 ('205', '33', 'LinkedIn'),
 ('206', '21', 'Instagram'),
 ('210', '31', 'Instagram'),
 ('213', '34', 'LinkedIn'),
 ('215', '28', 'Twitter'),
 ('218', '27', 'Twitter'),
 ('221', '26', 'Facebook'),
 ('223', '29', 'LinkedIn'),
 ('226', '31', 'Facebook'),
 ('229', '30', 'Twitter'),
 ('232', '28', 'Instagram'),
 ('235', '29', 'Facebook'),
 ('238', '27', 'Twitter'),
 ('241', '31', 'LinkedIn'),
 ('243', '29', 'Twitter'),
 ('246', '30', 'Instagram'),
 ('249', '32', 'Instagram'),
 ('290', '30', 'Twitter'),
 ('293', '24', 'Telegram'),
 ('295', '26', 'Instagram'),
 ('298', '35', 'Whatsapp'),
 ('302', '30', 'Twitter'),
 ('305', '33', 'LinkedIn'),
 ('306', '21', 'Instagram'),
 ('310', '31', 'Instagram'),
 ('313', '34', 'LinkedIn'),
 ('315', '28', 'Twitter'),
 ('318', '27', 'Twitter'),
 ('321', '26', 'Facebook'),
 ('323', '29', 'LinkedIn'),
 ('326', '31', 'Facebook'),
 ('329', '30', 'Twitter'),
 ('332', '28', 'Instagram'),
 ('335', '29', 'Facebook'),
 ('338', '27', 'Twitter'),
 ('341', '31', 'LinkedIn'),
 ('343', '29', 'Twitter'),
 ('346', '30', 'Instagram'),
 ('349', '32', 'Instagram'),
 ('351', '27', 'Instagram'),
 ('355', '31', 'LinkedIn'),
 ('357', '25', 'Telegram'),
 ('360', '27', 'Facebook'),
 ('362', '23', 'Whatsapp'),
 ('365', '25', 'Twitter'),
 ('367', '28', 'Instagram'),
 ('369', '27', 'Telegram'),
 ('372', '35', 'Twitter'),
 ('375', '25', 'Telegram'),
 ('378', '26', 'Twitter'),
 ('381', '31', 'Telegram'),
 ('384', '22', 'Twitter'),
 ('387', '31', 'Telegram'),
 ('390', '30', 'Twitter'),
 ('393', '24', 'Telegram'),
 ('395', '26', 'Instagram'),
 ('398', '35', 'Whatsapp'),
 ('402', '30', 'Twitter'),
 ('405', '33', 'LinkedIn'),
 ('406', '21', 'Instagram'),
 ('410', '31', 'Instagram'),
 ('413', '34', 'LinkedIn'),
 ('415', '28', 'Twitter'),
 ('418', '27', 'Twitter'),
 ('421', '26', 'Facebook'),
 ('423', '29', 'LinkedIn'),
 ('426', '31', 'Facebook'),
 ('429', '30', 'Twitter'),
 ('432', '28', 'Instagram'),
 ('435', '29', 'Facebook'),
 ('438', '27', 'Twitter'),
 ('441', '31', 'LinkedIn'),
 ('443', '29', 'Twitter'),
 ('446', '30', 'Instagram'),
 ('449', '32', 'Instagram'),
 ('451', '27', 'Instagram'),
 ('455', '31', 'LinkedIn'),
 ('457', '25', 'Telegram'),
 ('460', '27', 'Facebook'),
 ('462', '23', 'Whatsapp'),
 ('465', '25', 'Twitter'),
 ('467', '28', 'Instagram'),
 ('469', '27', 'Telegram'),
 ('472', '35', 'Twitter'),
 ('475', '25', 'Telegram'),
 ('478', '26', 'Twitter'),
 ('481', '31', 'Telegram'),
 ('484', '22', 'Twitter'),
 ('487', '31', 'Telegram'),
 ('490', '30', 'Twitter'),
 ('493', '24', 'Telegram'),
 ('495', '26', 'Instagram'),
 ('498', '35', 'Whatsapp'),
 ('502', '30', 'Twitter'),
 ('505', '33', 'LinkedIn'),
 ('506', '21', 'Instagram'),
 ('510', '31', 'Instagram'),
 ('513', '34', 'LinkedIn'),
 ('515', '28', 'Twitter'),
 ('518', '27', 'Twitter'),
 ('521', '26', 'Facebook'),
 ('523', '29', 'LinkedIn'),
 ('526', '31', 'Facebook'),
 ('529', '30', 'Twitter'),
 ('532', '28', 'Instagram'),
 ('535', '29', 'Facebook'),
 ('538', '27', 'Twitter'),
 ('541', '31', 'LinkedIn'),
 ('543', '29', 'Twitter'),
 ('546', '30', 'Instagram'),
 ('549', '32', 'Instagram'),
 ('551', '27', 'Instagram'),
 ('555', '31', 'LinkedIn'),
 ('557', '25', 'Telegram'),
 ('560', '27', 'Facebook'),
 ('562', '23', 'Whatsapp'),
 ('565', '25', 'Twitter'),
 ('567', '28', 'Instagram'),
 ('569', '27', 'Telegram'),
 ('572', '35', 'Twitter'),
 ('575', '25', 'Telegram'),
 ('578', '26', 'Twitter'),
 ('581', '31', 'Telegram'),
 ('584', '22', 'Twitter'),
 ('587', '31', 'Telegram'),
 ('590', '30', 'Twitter'),
 ('593', '24', 'Telegram'),
 ('595', '26', 'Instagram'),
 ('598', '35', 'Whatsapp'),
 ('602', '30', 'Twitter'),
 ('605', '33', 'LinkedIn'),
 ('606', '21', 'Instagram'),
 ('610', '31', 'Instagram'),
 ('613', '34', 'LinkedIn'),
 ('615', '28', 'Twitter'),
 ('618', '27', 'Twitter'),
 ('621', '26', 'Facebook'),
 ('623', '29', 'LinkedIn'),
 ('626', '31', 'Facebook'),
 ('629', '30', 'Twitter'),
 ('632', '28', 'Instagram'),
 ('635', '29', 'Facebook'),
 ('638', '27', 'Twitter'),
 ('641', '31', 'LinkedIn'),
 ('643', '29', 'Twitter'),
 ('646', '30', 'Instagram'),
 ('649', '32', 'Instagram'),
 ('651', '27', 'Instagram'),
 ('655', '31', 'LinkedIn'),
 ('657', '25', 'Telegram'),
 ('660', '27', 'Facebook'),
 ('662', '23', 'Whatsapp'),
 ('665', '25', 'Twitter'),
 ('667', '28', 'Instagram'),
 ('669', '27', 'Telegram'),
 ('672', '35', 'Twitter'),
 ('675', '25', 'Telegram'),
 ('678', '26', 'Twitter'),
 ('681', '31', 'Telegram'),
 ('684', '22', 'Twitter'),
 ('687', '31', 'Telegram'),
 ('690', '30', 'Twitter'),
 ('693', '24', 'Telegram'),
 ('695', '26', 'Instagram'),
 ('698', '35', 'Whatsapp'),
 ('702', '30', 'Twitter'),
 ('705', '33', 'LinkedIn'),
 ('706', '21', 'Instagram'),
 ('710', '31', 'Instagram'),
 ('713', '34', 'LinkedIn'),
 ('715', '28', 'Twitter'),
 ('718', '27', 'Twitter'),
 ('721', '26', 'Facebook'),
 ('723', '29', 'LinkedIn'),
 ('726', '31', 'Facebook'),
 ('729', '30', 'Twitter'),
 ('732', '28', 'Instagram'),
 ('735', '29', 'Facebook'),
 ('738', '27', 'Twitter'),
 ('741', '31', 'LinkedIn'),
 ('743', '29', 'Twitter'),
 ('746', '30', 'Instagram'),
 ('749', '32', 'Instagram'),
 ('790', '30', 'Twitter'),
 ('793', '24', 'Telegram'),
 ('795', '26', 'Instagram'),
 ('798', '35', 'Whatsapp'),
 ('802', '30', 'Twitter'),
 ('805', '33', 'LinkedIn'),
 ('806', '21', 'Instagram'),
 ('810', '31', 'Instagram'),
 ('813', '34', 'LinkedIn'),
 ('815', '28', 'Twitter'),
 ('818', '27', 'Twitter'),
 ('821', '26', 'Facebook'),
 ('823', '29', 'LinkedIn'),
 ('826', '31', 'Facebook'),
 ('829', '30', 'Twitter'),
 ('832', '28', 'Instagram'),
 ('835', '29', 'Facebook'),
 ('838', '27', 'Twitter'),
 ('841', '31', 'LinkedIn'),
 ('843', '29', 'Twitter'),
 ('846', '30', 'Instagram'),
 ('849', '32', 'Instagram'),
 ('851', '27', 'Instagram'),
 ('855', '31', 'LinkedIn'),
 ('857', '25', 'Telegram'),
 ('860', '27', 'Facebook'),
 ('862', '23', 'Whatsapp'),
 ('865', '25', 'Twitter'),
 ('867', '28', 'Instagram'),
 ('869', '27', 'Telegram'),
 ('872', '35', 'Twitter'),
 ('875', '25', 'Telegram'),
 ('878', '26', 'Twitter'),
 ('881', '31', 'Telegram'),
 ('884', '22', 'Twitter'),
 ('887', '31', 'Telegram'),
 ('890', '30', 'Twitter'),
 ('893', '24', 'Telegram'),
 ('895', '26', 'Instagram'),
 ('898', '35', 'Whatsapp'),
 ('902', '30', 'Twitter'),
 ('905', '33', 'LinkedIn'),
 ('906', '21', 'Instagram'),
 ('910', '31', 'Instagram'),
 ('913', '34', 'LinkedIn'),
 ('915', '28', 'Twitter'),
 ('918', '27', 'Twitter'),
 ('921', '26', 'Facebook'),
 ('923', '29', 'LinkedIn'),
 ('926', '31', 'Facebook'),
 ('929', '30', 'Twitter'),
 ('932', '28', 'Instagram'),
 ('935', '29', 'Facebook'),
 ('938', '27', 'Twitter'),
 ('941', '31', 'LinkedIn'),
 ('943', '29', 'Twitter'),
 ('946', '30', 'Instagram'),
 ('949', '32', 'Instagram'),
 ('951', '27', 'Instagram'),
 ('955', '31', 'LinkedIn'),
 ('957', '25', 'Telegram'),
 ('960', '27', 'Facebook'),
 ('962', '23', 'Whatsapp'),
 ('965', '25', 'Twitter'),
 ('967', '28', 'Instagram'),
 ('969', '27', 'Telegram'),
 ('972', '35', 'Twitter'),
 ('975', '25', 'Telegram'),
 ('978', '26', 'Twitter'),
 ('981', '31', 'Telegram'),
 ('984', '22', 'Twitter'),
 ('987', '31', 'Telegram'),
 ('990', '30', 'Twitter'),
 ('993', '24', 'Telegram'),
 ('995', '26', 'Instagram'),
 ('998', '35', 'Whatsapp'))

# Who are the users, sorted by age?

In [36]:
query="""select User_ID,Age,Platform
from train
order by (train.Age )
"""

cur.execute(query)
data=cur.fetchall()

data

(('Tabii', ' ite mevcut veri kmesini 1000 satra tamamlyorum:', None),
 ('888', '21', 'Snapchat'),
 ('934', '21', 'Instagram'),
 ('873', '21', 'Facebook'),
 ('588', '21', 'Snapchat'),
 ('973', '21', 'Facebook'),
 ('6', '21', 'Instagram'),
 ('316', '21', 'Facebook'),
 ('247', '21', 'Twitter'),
 ('988', '21', 'Snapchat'),
 ('88', '21', 'Snapchat'),
 ('647', '21', 'Twitter'),
 ('616', '21', 'Facebook'),
 ('916', '21', 'Facebook'),
 ('447', '21', 'Twitter'),
 ('747', '21', 'Twitter'),
 ('16', '21', 'Facebook'),
 ('847', '21', 'Twitter'),
 ('188', '21', 'Snapchat'),
 ('734', '21', 'Instagram'),
 ('488', '21', 'Snapchat'),
 ('673', '21', 'Facebook'),
 ('547', '21', 'Twitter'),
 ('234', '21', 'Instagram'),
 ('116', '21', 'Facebook'),
 ('406', '21', 'Instagram'),
 ('373', '21', 'Facebook'),
 ('688', '21', 'Snapchat'),
 ('606', '21', 'Instagram'),
 ('334', '21', 'Instagram'),
 ('573', '21', 'Facebook'),
 ('534', '21', 'Instagram'),
 ('147', '21', 'Twitter'),
 ('34', '21', 'Instagram'),
 ('906', '21', 'Instagram'),
 ('216', '21', 'Facebook'),
 ('706', '21', 'Instagram'),
 ('634', '21', 'Instagram'),
 ('416', '21', 'Facebook'),
 ('506', '21', 'Instagram'),
 ('947', '21', 'Twitter'),
 ('816', '21', 'Facebook'),
 ('806', '21', 'Instagram'),
 ('834', '21', 'Instagram'),
 ('134', '21', 'Instagram'),
 ('73', '21', 'Facebook'),
 ('47', '21', 'Twitter'),
 ('106', '21', 'Instagram'),
 ('434', '21', 'Instagram'),
 ('206', '21', 'Instagram'),
 ('388', '21', 'Snapchat'),
 ('347', '21', 'Twitter'),
 ('716', '21', 'Facebook'),
 ('516', '21', 'Facebook'),
 ('173', '21', 'Facebook'),
 ('473', '21', 'Facebook'),
 ('306', '21', 'Instagram'),
 ('970', '22', 'Snapchat'),
 ('184', '22', 'Twitter'),
 ('297', '22', 'Facebook'),
 ('14', '22', 'Instagram'),
 ('670', '22', 'Snapchat'),
 ('825', '22', 'Twitter'),
 ('203', '22', 'Facebook'),
 ('25', '22', 'Twitter'),
 ('797', '22', 'Facebook'),
 ('684', '22', 'Twitter'),
 ('956', '22', 'Whatsapp'),
 ('197', '22', 'Facebook'),
 ('697', '22', 'Facebook'),
 ('703', '22', 'Facebook'),
 ('39', '22', 'Instagram'),
 ('939', '22', 'Instagram'),
 ('503', '22', 'Facebook'),
 ('814', '22', 'Instagram'),
 ('714', '22', 'Instagram'),
 ('56', '22', 'Whatsapp'),
 ('984', '22', 'Twitter'),
 ('539', '22', 'Instagram'),
 ('925', '22', 'Twitter'),
 ('439', '22', 'Instagram'),
 ('70', '22', 'Snapchat'),
 ('556', '22', 'Whatsapp'),
 ('425', '22', 'Twitter'),
 ('914', '22', 'Instagram'),
 ('570', '22', 'Snapchat'),
 ('84', '22', 'Twitter'),
 ('239', '22', 'Instagram'),
 ('414', '22', 'Instagram'),
 ('325', '22', 'Twitter'),
 ('214', '22', 'Instagram'),
 ('903', '22', 'Facebook'),
 ('403', '22', 'Facebook'),
 ('97', '22', 'Facebook'),
 ('397', '22', 'Facebook'),
 ('584', '22', 'Twitter'),
 ('897', '22', 'Facebook'),
 ('103', '22', 'Facebook'),
 ('384', '22', 'Twitter'),
 ('597', '22', 'Facebook'),
 ('725', '22', 'Twitter'),
 ('603', '22', 'Facebook'),
 ('114', '22', 'Instagram'),
 ('497', '22', 'Facebook'),
 ('370', '22', 'Snapchat'),
 ('884', '22', 'Twitter'),
 ('125', '22', 'Twitter'),
 ('614', '22', 'Instagram'),
 ('356', '22', 'Whatsapp'),
 ('997', '22', 'Facebook'),
 ('870', '22', 'Snapchat'),
 ('625', '22', 'Twitter'),
 ('139', '22', 'Instagram'),
 ('514', '22', 'Instagram'),
 ('339', '22', 'Instagram'),
 ('470', '22', 'Snapchat'),
 ('484', '22', 'Twitter'),
 ('739', '22', 'Instagram'),
 ('639', '22', 'Instagram'),
 ('856', '22', 'Whatsapp'),
 ('156', '22', 'Whatsapp'),
 ('803', '22', 'Facebook'),
 ('525', '22', 'Twitter'),
 ('656', '22', 'Whatsapp'),
 ('314', '22', 'Instagram'),
 ('170', '22', 'Snapchat'),
 ('839', '22', 'Instagram'),
 ('3', '22', 'Facebook'),
 ('456', '22', 'Whatsapp'),
 ('225', '22', 'Twitter'),
 ('303', '22', 'Facebook'),
 ('519', '23', 'LinkedIn'),
 ('133', '23', 'Twitter'),
 ('962', '23', 'Whatsapp'),
 ('44', '23', 'Facebook'),
 ('944', '23', 'Facebook'),
 ('111', '23', 'Twitter'),
 ('411', '23', 'Twitter'),
 ('462', '23', 'Whatsapp'),
 ('344', '23', 'Facebook'),
 ('511', '23', 'Twitter'),
 ('433', '23', 'Twitter'),
 ('633', '23', 'Twitter'),
 ('144', '23', 'Facebook'),
 ('711', '23', 'Twitter'),
 ('862', '23', 'Whatsapp'),
 ('33', '23', 'Twitter'),
 ('819', '23', 'LinkedIn'),
 ('333', '23', 'Twitter'),
 ('444', '23', 'Facebook'),
 ('419', '23', 'LinkedIn'),
 ('544', '23', 'Facebook'),
 ('119', '23', 'LinkedIn'),
 ('919', '23', 'LinkedIn'),
 ('244', '23', 'Facebook'),
 ('611', '23', 'Twitter'),
 ('811', '23', 'Twitter'),
 ('19', '23', 'LinkedIn'),
 ('733', '23', 'Twitter'),
 ('644', '23', 'Facebook'),
 ('319', '23', 'LinkedIn'),
 ('162', '23', 'Whatsapp'),
 ('662', '23', 'Whatsapp'),
 ('11', '23', 'Twitter'),
 ('833', '23', 'Twitter'),
 ('844', '23', 'Facebook'),
 ('62', '23', 'Whatsapp'),
 ('362', '23', 'Whatsapp'),
 ('911', '23', 'Twitter'),
 ('562', '23', 'Whatsapp'),
 ('744', '23', 'Facebook'),
 ('533', '23', 'Twitter'),
 ('211', '23', 'Twitter'),
 ('311', '23', 'Twitter'),
 ('233', '23', 'Twitter'),
 ('619', '23', 'LinkedIn'),
 ('719', '23', 'LinkedIn'),
 ('933', '23', 'Twitter'),
 ('219', '23', 'LinkedIn'),
 ('308', '24', 'Facebook'),
 ('652', '24', 'Twitter'),
 ('8', '24', 'Facebook'),
 ('971', '24', 'Instagram'),
 ('322', '24', 'Twitter'),
 ('636', '24', 'LinkedIn'),
 ('336', '24', 'LinkedIn'),
 ('352', '24', 'Twitter'),
 ('608', '24', 'Facebook'),
 ('371', '24', 'Instagram'),
 ('382', '24', 'Snapchat'),
 ('22', '24', 'Twitter'),
 ('593', '24', 'Telegram'),
 ('393', '24', 'Telegram'),
 ('582', '24', 'Snapchat'),
 ('408', '24', 'Facebook'),
 ('571', '24', 'Instagram'),
 ('952', '24', 'Twitter'),
 ('508', '24', 'Facebook'),
 ('36', '24', 'LinkedIn'),
 ('422', '24', 'Twitter'),
 ('493', '24', 'Telegram'),
 ('436', '24', 'LinkedIn'),
 ('552', '24', 'Twitter'),
 ('452', '24', 'Twitter'),
 ('536', '24', 'LinkedIn'),
 ('982', '24', 'Snapchat'),
 ('993', '24', 'Telegram'),
 ('52', '24', 'Twitter'),
 ('936', '24', 'LinkedIn'),
 ('922', '24', 'Twitter'),
 ('71', '24', 'Instagram'),
 ('82', '24', 'Snapchat'),
 ('908', '24', 'Facebook'),
 ('93', '24', 'Telegram'),
 ('108', '24', 'Facebook'),
 ('893', '24', 'Telegram'),
 ('122', '24', 'Twitter'),
 ('882', '24', 'Snapchat'),
 ('871', '24', 'Instagram'),
 ('136', '24', 'LinkedIn'),
 ('152', '24', 'Twitter'),
 ('852', '24', 'Twitter'),
 ('471', '24', 'Instagram'),
 ('171', '24', 'Instagram'),
 ('836', '24', 'LinkedIn'),
 ('182', '24', 'Snapchat'),
 ('522', '24', 'Twitter'),
 ('822', '24', 'Twitter'),
 ('193', '24', 'Telegram'),
 ('208', '24', 'Facebook'),
 ('808', '24', 'Facebook'),
 ('222', '24', 'Twitter'),
 ('622', '24', 'Twitter'),
 ('793', '24', 'Telegram'),
 ('236', '24', 'LinkedIn'),
 ('736', '24', 'LinkedIn'),
 ('722', '24', 'Twitter'),
 ('708', '24', 'Facebook'),
 ('693', '24', 'Telegram'),
 ('682', '24', 'Snapchat'),
 ('671', '24', 'Instagram'),
 ('293', '24', 'Telegram'),
 ('482', '24', 'Snapchat'),
 ('975', '25', 'Telegram'),
 ('875', '25', 'Telegram'),
 ('301', '25', 'Instagram'),
 ('689', '25', 'Instagram'),
 ('457', '25', 'Telegram'),
 ('965', '25', 'Twitter'),
 ('628', '25', 'Instagram'),
 ('828', '25', 'Instagram'),
 ('657', '25', 'Telegram'),
 ('157', '25', 'Telegram'),
 ('957', '25', 'Telegram'),
 ('865', '25', 'Twitter'),
 ('28', '25', 'Instagram'),
 ('228', '25', 'Instagram'),
 ('842', '25', 'Instagram'),
 ('675', '25', 'Telegram'),
 ('165', '25', 'Twitter'),
 ('42', '25', 'Instagram'),
 ('942', '25', 'Instagram'),
 ('857', '25', 'Telegram'),
 ('789', '25', 'Instagram'),
 ('801', '25', 'Instagram'),
 ('189', '25', 'Instagram'),
 ('289', '25', 'Instagram'),
 ('201', '25', 'Instagram'),
 ('142', '25', 'Instagram'),
 ('342', '25', 'Instagram'),
 ('328', '25', 'Instagram'),
 ('475', '25', 'Telegram'),
 ('701', '25', 'Instagram'),
 ('665', '25', 'Twitter'),
 ('642', '25', 'Instagram'),
 ('242', '25', 'Instagram'),
 ('128', '25', 'Instagram'),
 ('357', '25', 'Telegram'),
 ('365', '25', 'Twitter'),
 ('1', '25', 'Instagram'),
 ('742', '25', 'Instagram'),
 ('889', '25', 'Instagram'),
 ('375', '25', 'Telegram'),
 ('501', '25', 'Instagram'),
 ('601', '25', 'Instagram'),
 ('489', '25', 'Instagram'),
 ('528', '25', 'Instagram'),
 ('389', '25', 'Instagram'),
 ('589', '25', 'Instagram'),
 ('101', '25', 'Instagram'),
 ('465', '25', 'Twitter'),
 ('401', '25', 'Instagram'),
 ('901', '25', 'Instagram'),
 ('175', '25', 'Telegram'),
 ('575', '25', 'Telegram'),
 ('89', '25', 'Instagram'),
 ('728', '25', 'Instagram'),
 ('565', '25', 'Twitter'),
 ('428', '25', 'Instagram'),
 ('557', '25', 'Telegram'),
 ('75', '25', 'Telegram'),
 ('442', '25', 'Instagram'),
 ('65', '25', 'Twitter'),
 ('928', '25', 'Instagram'),
 ('542', '25', 'Instagram'),
 ('57', '25', 'Telegram'),
 ('989', '25', 'Instagram'),
 ('148', '26', 'Facebook'),
 ('748', '26', 'Facebook'),
 ('864', '26', 'Snapchat'),
 ('12', '26', 'Facebook'),
 ('512', '26', 'Facebook'),
 ('612', '26', 'Facebook'),
 ('364', '26', 'Snapchat'),
 ('248', '26', 'Facebook'),
 ('121', '26', 'Facebook'),
 ('312', '26', 'Facebook'),
 ('964', '26', 'Snapchat'),
 ('21', '26', 'Facebook'),
 ('112', '26', 'Facebook'),
 ('648', '26', 'Facebook'),
 ('30', '26', 'Facebook'),
 ('378', '26', 'Twitter'),
 ('948', '26', 'Facebook'),
 ('895', '26', 'Instagram'),
 ('595', '26', 'Instagram'),
 ('48', '26', 'Facebook'),
 ('164', '26', 'Snapchat'),
 ('848', '26', 'Facebook'),
 ('712', '26', 'Facebook'),
 ('478', '26', 'Twitter'),
 ('321', '26', 'Facebook'),
 ('395', '26', 'Instagram'),
 ('221', '26', 'Facebook'),
 ('348', '26', 'Facebook'),
 ('695', '26', 'Instagram'),
 ('578', '26', 'Twitter'),
 ('95', '26', 'Instagram'),
 ('795', '26', 'Instagram'),
 ('630', '26', 'Facebook'),
 ('412', '26', 'Facebook'),
 ('730', '26', 'Facebook'),
 ('195', '26', 'Instagram'),
 ('821', '26', 'Facebook'),
 ('464', '26', 'Snapchat'),
 ('912', '26', 'Facebook'),
 ('421', '26', 'Facebook'),
 ('230', '26', 'Facebook'),
 ('564', '26', 'Snapchat'),
 ('78', '26', 'Twitter'),
 ('678', '26', 'Twitter'),
 ('430', '26', 'Facebook'),
 ('664', '26', 'Snapchat'),
 ('521', '26', 'Facebook'),
 ('530', '26', 'Facebook'),
 ('295', '26', 'Instagram'),
 ('921', '26', 'Facebook'),
 ('721', '26', 'Facebook'),
 ('330', '26', 'Facebook'),
 ('548', '26', 'Facebook'),
 ('130', '26', 'Facebook'),
 ('64', '26', 'Snapchat'),
 ('621', '26', 'Facebook'),
 ('448', '26', 'Facebook'),
 ('830', '26', 'Facebook'),
 ('495', '26', 'Instagram'),
 ('212', '26', 'Facebook'),
 ('978', '26', 'Twitter'),
 ('812', '26', 'Facebook'),
 ('930', '26', 'Facebook'),
 ('878', '26', 'Twitter'),
 ('178', '26', 'Twitter'),
 ('995', '26', 'Instagram'),
 ('238', '27', 'Twitter'),
 ('707', '27', 'Twitter'),
 ('700', '27', 'Snapchat'),
 ('891', '27', 'Facebook'),
 ('818', '27', 'Twitter'),
 ('691', '27', 'Facebook'),
 ('380', '27', 'Whatsapp'),
 ('600', '27', 'Snapchat'),
 ('618', '27', 'Twitter'),
 ('107', '27', 'Twitter'),
 ('680', '27', 'Whatsapp'),
 ('191', '27', 'Facebook'),
 ('669', '27', 'Telegram'),
 ('738', '27', 'Twitter'),
 ('291', '27', 'Facebook'),
 ('827', '27', 'LinkedIn'),
 ('591', '27', 'Facebook'),
 ('391', '27', 'Facebook'),
 ('660', '27', 'Facebook'),
 ('518', '27', 'Twitter'),
 ('300', '27', 'Snapchat'),
 ('180', '27', 'Whatsapp'),
 ('100', '27', 'Snapchat'),
 ('307', '27', 'Twitter'),
 ('218', '27', 'Twitter'),
 ('900', '27', 'Snapchat'),
 ('400', '27', 'Snapchat'),
 ('651', '27', 'Instagram'),
 ('580', '27', 'Whatsapp'),
 ('838', '27', 'Twitter'),
 ('491', '27', 'Facebook'),
 ('169', '27', 'Telegram'),
 ('318', '27', 'Twitter'),
 ('160', '27', 'Facebook'),
 ('807', '27', 'Twitter'),
 ('227', '27', 'LinkedIn'),
 ('91', '27', 'Facebook'),
 ('907', '27', 'Twitter'),
 ('851', '27', 'Instagram'),
 ('327', '27', 'LinkedIn'),
 ('638', '27', 'Twitter'),
 ('800', '27', 'Snapchat'),
 ('151', '27', 'Instagram'),
 ('860', '27', 'Facebook'),
 ('418', '27', 'Twitter'),
 ('80', '27', 'Whatsapp'),
 ('569', '27', 'Telegram'),
 ('338', '27', 'Twitter'),
 ('727', '27', 'LinkedIn'),
 ('869', '27', 'Telegram'),
 ('469', '27', 'Telegram'),
 ('627', '27', 'LinkedIn'),
 ('918', '27', 'Twitter'),
 ('427', '27', 'LinkedIn'),
 ('138', '27', 'Twitter'),
 ('560', '27', 'Facebook'),
 ('527', '27', 'LinkedIn'),
 ('500', '27', 'Snapchat'),
 ('351', '27', 'Instagram'),
 ('200', '27', 'Snapchat'),
 ('7', '27', 'Twitter'),
 ('969', '27', 'Telegram'),
 ('791', '27', 'Facebook'),
 ('127', '27', 'LinkedIn'),
 ('438', '27', 'Twitter'),
 ('69', '27', 'Telegram'),
 ('507', '27', 'Twitter'),
 ('551', '27', 'Instagram'),
 ('18', '27', 'Twitter'),
 ('360', '27', 'Facebook'),
 ('1000', '27', 'Snapchat'),
 ('880', '27', 'Whatsapp'),
 ('927', '27', 'LinkedIn'),
 ('960', '27', 'Facebook'),
 ('27', '27', 'LinkedIn'),
 ('951', '27', 'Instagram'),
 ('38', '27', 'Twitter'),
 ('451', '27', 'Instagram'),
 ('118', '27', 'Twitter'),
 ('60', '27', 'Facebook'),
 ('538', '27', 'Twitter'),
 ('718', '27', 'Twitter'),
 ('480', '27', 'Whatsapp'),
 ('980', '27', 'Whatsapp'),
 ('369', '27', 'Telegram'),
 ('938', '27', 'Twitter'),
 ('460', '27', 'Facebook'),
 ('607', '27', 'Twitter'),
 ('991', '27', 'Facebook'),
 ('207', '27', 'Twitter'),
 ('51', '27', 'Instagram'),
 ('407', '27', 'Twitter'),
 ('104', '28', 'Instagram'),
 ('115', '28', 'Twitter'),
 ('132', '28', 'Instagram'),
 ('140', '28', 'Facebook'),
 ('150', '28', 'LinkedIn'),
 ('159', '28', 'Twitter'),
 ('167', '28', 'Instagram'),
 ('176', '28', 'Snapchat'),
 ('186', '28', 'Whatsapp'),
 ('199', '28', 'Telegram'),
 ('204', '28', 'Instagram'),
 ('215', '28', 'Twitter'),
 ('232', '28', 'Instagram'),
 ('240', '28', 'Facebook'),
 ('250', '28', 'LinkedIn'),
 ('299', '28', 'Telegram'),
 ('304', '28', 'Instagram'),
 ('315', '28', 'Twitter'),
 ('332', '28', 'Instagram'),
 ('340', '28', 'Facebook'),
 ('350', '28', 'LinkedIn'),
 ('359', '28', 'Twitter'),
 ('367', '28', 'Instagram'),
 ('386', '28', 'Whatsapp'),
 ('399', '28', 'Telegram'),
 ('404', '28', 'Instagram'),
 ('415', '28', 'Twitter'),
 ('432', '28', 'Instagram'),
 ('440', '28', 'Facebook'),
 ('450', '28', 'LinkedIn'),
 ('459', '28', 'Twitter'),
 ('467', '28', 'Instagram'),
 ('476', '28', 'Snapchat'),
 ('486', '28', 'Whatsapp'),
 ('499', '28', 'Telegram'),
 ('376', '28', 'Snapchat'),
 ('504', '28', 'Instagram'),
 ('515', '28', 'Twitter'),
 ('532', '28', 'Instagram'),
 ('540', '28', 'Facebook'),
 ('550', '28', 'LinkedIn'),
 ('559', '28', 'Twitter'),
 ('567', '28', 'Instagram'),
 ('576', '28', 'Snapchat'),
 ('586', '28', 'Whatsapp'),
 ('599', '28', 'Telegram'),
 ('604', '28', 'Instagram'),
 ('615', '28', 'Twitter'),
 ('632', '28', 'Instagram'),
 ('640', '28', 'Facebook'),
 ('650', '28', 'LinkedIn'),
 ('659', '28', 'Twitter'),
 ('667', '28', 'Instagram'),
 ('676', '28', 'Snapchat'),
 ('686', '28', 'Whatsapp'),
 ('699', '28', 'Telegram'),
 ('704', '28', 'Instagram'),
 ('715', '28', 'Twitter'),
 ('732', '28', 'Instagram'),
 ('740', '28', 'Facebook'),
 ('799', '28', 'Telegram'),
 ('804', '28', 'Instagram'),
 ('815', '28', 'Twitter'),
 ('832', '28', 'Instagram'),
 ('840', '28', 'Facebook'),
 ('850', '28', 'LinkedIn'),
 ('859', '28', 'Twitter'),
 ('867', '28', 'Instagram'),
 ('876', '28', 'Snapchat'),
 ('886', '28', 'Whatsapp'),
 ('899', '28', 'Telegram'),
 ('904', '28', 'Instagram'),
 ('915', '28', 'Twitter'),
 ('932', '28', 'Instagram'),
 ('940', '28', 'Facebook'),
 ('950', '28', 'LinkedIn'),
 ('959', '28', 'Twitter'),
 ('967', '28', 'Instagram'),
 ('976', '28', 'Snapchat'),
 ('4', '28', 'Instagram'),
 ('15', '28', 'Twitter'),
 ('32', '28', 'Instagram'),
 ('40', '28', 'Facebook'),
 ('986', '28', 'Whatsapp'),
 ('50', '28', 'LinkedIn'),
 ('59', '28', 'Twitter'),
 ('67', '28', 'Instagram'),
 ('76', '28', 'Snapchat'),
 ('86', '28', 'Whatsapp'),
 ('99', '28', 'Telegram'),
 ('999', '28', 'Telegram'),
 ('750', '28', 'LinkedIn'),
 ('558', '29', 'Snapchat'),
 ('494', '29', 'Snapchat'),
 ('235', '29', 'Facebook'),
 ('85', '29', 'Facebook'),
 ('835', '29', 'Facebook'),
 ('243', '29', 'Twitter'),
 ('823', '29', 'LinkedIn'),
 ('423', '29', 'LinkedIn'),
 ('566', '29', 'Facebook'),
 ('185', '29', 'Facebook'),
 ('309', '29', 'LinkedIn'),
 ('653', '29', 'Facebook'),
 ('223', '29', 'LinkedIn'),
 ('943', '29', 'Twitter'),
 ('53', '29', 'Facebook'),
 ('43', '29', 'Twitter'),
 ('574', '29', 'Whatsapp'),
 ('409', '29', 'LinkedIn'),
 ('509', '29', 'LinkedIn'),
 ('35', '29', 'Facebook'),
 ('658', '29', 'Snapchat'),
 ('194', '29', 'Snapchat'),
 ('909', '29', 'LinkedIn'),
 ('953', '29', 'Facebook'),
 ('935', '29', 'Facebook'),
 ('958', '29', 'Snapchat'),
 ('23', '29', 'LinkedIn'),
 ('585', '29', 'Facebook'),
 ('966', '29', 'Facebook'),
 ('358', '29', 'Snapchat'),
 ('394', '29', 'Snapchat'),
 ('294', '29', 'Snapchat'),
 ('543', '29', 'Twitter'),
 ('666', '29', 'Facebook'),
 ('9', '29', 'LinkedIn'),
 ('974', '29', 'Whatsapp'),
 ('594', '29', 'Snapchat'),
 ('385', '29', 'Facebook'),
 ('443', '29', 'Twitter'),
 ('453', '29', 'Facebook'),
 ('58', '29', 'Snapchat'),
 ('94', '29', 'Snapchat'),
 ('985', '29', 'Facebook'),
 ('466', '29', 'Facebook'),
 ('553', '29', 'Facebook'),
 ('994', '29', 'Snapchat'),
 ('674', '29', 'Whatsapp'),
 ('209', '29', 'LinkedIn'),
 ('374', '29', 'Whatsapp'),
 ('894', '29', 'Snapchat'),
 ('435', '29', 'Facebook'),
 ('609', '29', 'LinkedIn'),
 ('109', '29', 'LinkedIn'),
 ('366', '29', 'Facebook'),
 ('685', '29', 'Facebook'),
 ('535', '29', 'Facebook'),
 ('885', '29', 'Facebook'),
 ('123', '29', 'LinkedIn'),
 ('694', '29', 'Snapchat'),
 ('66', '29', 'Facebook'),
 ('794', '29', 'Snapchat'),
 ('458', '29', 'Snapchat'),
 ('874', '29', 'Whatsapp'),
 ('353', '29', 'Facebook'),
 ('474', '29', 'Whatsapp'),
 ('623', '29', 'LinkedIn'),
 ('135', '29', 'Facebook'),
 ('709', '29', 'LinkedIn'),
 ('866', '29', 'Facebook'),
 ('923', '29', 'LinkedIn'),
 ('343', '29', 'Twitter'),
 ('143', '29', 'Twitter'),
 ('523', '29', 'LinkedIn'),
 ('858', '29', 'Snapchat'),
 ('485', '29', 'Facebook'),
 ('809', '29', 'LinkedIn'),
 ('335', '29', 'Facebook'),
 ('635', '29', 'Facebook'),
 ('153', '29', 'Facebook'),
 ('723', '29', 'LinkedIn'),
 ('853', '29', 'Facebook'),
 ('158', '29', 'Snapchat'),
 ('74', '29', 'Whatsapp'),
 ('166', '29', 'Facebook'),
 ('735', '29', 'Facebook'),
 ('323', '29', 'LinkedIn'),
 ('643', '29', 'Twitter'),
 ('843', '29', 'Twitter'),
 ('174', '29', 'Whatsapp'),
 ('743', '29', 'Twitter'),
 ('429', '30', 'Twitter'),
 ('561', '30', 'Instagram'),
 ('629', '30', 'Twitter'),
 ('661', '30', 'Instagram'),
 ('2', '30', 'Twitter'),
 ('102', '30', 'Twitter'),
 ('146', '30', 'Instagram'),
 ('46', '30', 'Instagram'),
 ('690', '30', 'Twitter'),
 ('246', '30', 'Instagram'),
 ('461', '30', 'Instagram'),
 ('961', '30', 'Instagram'),
 ('402', '30', 'Twitter'),
 ('746', '30', 'Instagram'),
 ('329', '30', 'Twitter'),
 ('229', '30', 'Twitter'),
 ('90', '30', 'Twitter'),
 ('29', '30', 'Twitter'),
 ('590', '30', 'Twitter'),
 ('390', '30', 'Twitter'),
 ('946', '30', 'Instagram'),
 ('790', '30', 'Twitter'),
 ('202', '30', 'Twitter'),
 ('490', '30', 'Twitter'),
 ('161', '30', 'Instagram'),
 ('602', '30', 'Twitter'),
 ('190', '30', 'Twitter'),
 ('702', '30', 'Twitter'),
 ('929', '30', 'Twitter'),
 ('129', '30', 'Twitter'),
 ('646', '30', 'Instagram'),
 ('61', '30', 'Instagram'),
 ('846', '30', 'Instagram'),
 ('361', '30', 'Instagram'),
 ('729', '30', 'Twitter'),
 ('290', '30', 'Twitter'),
 ('902', '30', 'Twitter'),
 ('802', '30', 'Twitter'),
 ('829', '30', 'Twitter'),
 ('529', '30', 'Twitter'),
 ('302', '30', 'Twitter'),
 ('346', '30', 'Instagram'),
 ('890', '30', 'Twitter'),
 ('446', '30', 'Instagram'),
 ('546', '30', 'Instagram'),
 ('861', '30', 'Instagram'),
 ('990', '30', 'Twitter'),
 ('502', '30', 'Twitter'),
 ('55', '31', 'LinkedIn'),
 ('510', '31', 'Instagram'),
 ('387', '31', 'Telegram'),
 ('381', '31', 'Telegram'),
 ('487', '31', 'Telegram'),
 ('368', '31', 'Whatsapp'),
 ('610', '31', 'Instagram'),
 ('481', '31', 'Telegram'),
 ('926', '31', 'Facebook'),
 ('587', '31', 'Telegram'),
 ('355', '31', 'LinkedIn'),
 ('210', '31', 'Instagram'),
 ('810', '31', 'Instagram'),
 ('626', '31', 'Facebook'),
 ('341', '31', 'LinkedIn'),
 ('68', '31', 'Whatsapp'),
 ('326', '31', 'Facebook'),
 ('641', '31', 'LinkedIn'),
 ('468', '31', 'Whatsapp'),
 ('910', '31', 'Instagram'),
 ('310', '31', 'Instagram'),

# -- What is the total number of messages sent by users aged 25 or younger?

In [37]:
query="""select sum(Messages_Sent_Per_Day)
from train
where Age<=25
"""

cur.execute(query)
data=cur.fetchall()

data

((8380.0,),)

# Which users have a daily usage time greater than 100 minutes?

In [40]:
query="""select User_ID,daily_usage_time_minutes
from train
where daily_usage_time_minutes>100
"""

cur.execute(query)
data=cur.fetchall()

df=pd.DataFrame(data,columns=["user id","daily usage"])
df

    user id  daily usage
0         1        120.0
1         4        200.0
2         6        150.0
3         8        110.0
4        10        170.0
..      ...          ...
335     989        170.0
336     992        105.0
337     995        150.0
338     998        110.0
339    1000        120.0

[340 rows x 2 columns]

# What is the average daily usage time by platform?

In [18]:
query="""select round(avg(daily_usage_time_minutes),2),Platform
from train
group by Platform
"""

cur.execute(query)
data=cur.fetchall()

df=pd.DataFrame(data,columns=["daily usage","Platform"])
df

   daily usage   Platform
0       153.40  Instagram
1        83.75    Twitter
2        72.11   Facebook
3        55.83   LinkedIn
4        87.50   Whatsapp
5        78.12   Telegram
6        90.00   Snapchat
7          NaN       None

# Which users post more than 5 times a day and receive more than 50 likes per day?

In [27]:
query="""SELECT 
    User_ID, Gender, Likes_Received_Per_Day, Posts_Per_Day
FROM
    train
WHERE
    Posts_Per_Day >= 5
        AND Likes_Received_Per_Day >= 50;
"""

cur.execute(query)
data=cur.fetchall()

df=pd.DataFrame(data,columns=["user id","gender","likes per day","posts per day"])
df

    user id      gender  likes per day  posts per day
0         4      Female          100.0            8.0
1        10        Male           80.0            5.0
2        14      Female           90.0            7.0
3        20      Female           70.0            5.0
4        24  Non-binary           95.0            8.0
..      ...         ...            ...            ...
221     967        Male           78.0            5.0
222     977      Female           75.0            6.0
223     983      Female           60.0            5.0
224     989      Female           83.0            6.0
225     995        Male           70.0            5.0

[226 rows x 4 columns]

# What is the distribution of dominant emotions among users?

In [15]:
query="""SELECT count(User_ID), Dominant_Emotion
FROM train
group by Dominant_Emotion
"""

cur.execute(query)
data=cur.fetchall()

df=pd.DataFrame(data,columns=["user id","emotions"])
df

   user id   emotions
0      200  Happiness
1      130      Anger
2      200    Neutral
3      170    Anxiety
4      140    Boredom
5      160    Sadness
6        1       None

# Who are the top 5 users with the highest daily usage times?

In [16]:
query="""SELECT User_ID, daily_usage_time_minutes
FROM train
order by daily_usage_time_minutes desc
limit 5
"""

cur.execute(query)
data=cur.fetchall()

df=pd.DataFrame(data,columns=["user id","daily usage time"])
df

  user id  daily usage time
0     404             200.0
1       4             200.0
2     904             200.0
3     504             200.0
4     104             200.0

#  Which platform has the highest average number of likes received per day?

In [20]:
query="""SELECT Platform, avg(Likes_Received_Per_Day)
FROM train
group by Platform
order by avg(Likes_Received_Per_Day) desc
"""

cur.execute(query)
data=cur.fetchall()

df=pd.DataFrame(data,columns=["user id","Likes_Received_Per_Day"])
df

     user id  Likes_Received_Per_Day
0  Instagram               79.272000
1   Whatsapp               36.450000
2    Twitter               35.245000
3   Snapchat               30.450000
4   Telegram               29.825000
5   Facebook               19.726316
6   LinkedIn               12.875000
7       None                     NaN

# What is the gender distribution across different social media platforms?

In [26]:
query="""SELECT Gender, Platform,sum(User_ID)
FROM train
group by Gender,Platform
order by Platform
"""

cur.execute(query)
data=cur.fetchall()

df=pd.DataFrame(data,columns=["gender","platform","user id",])
df

        gender   platform  user id
0         None       None      0.0
1           21   Facebook   1046.0
2   Non-binary   Facebook  64268.0
3         Male   Facebook  18400.0
4           27   Facebook   1020.0
5       Female   Facebook   5470.0
6           29   Facebook   3108.0
7           33   Facebook   1058.0
8       Female  Instagram  73518.0
9         Male  Instagram  37524.0
10          24  Instagram   1042.0
11  Non-binary  Instagram   4740.0
12          28  Instagram   1034.0
13          27  Instagram   1002.0
14          30  Instagram   1022.0
15          33  Instagram   1008.0
16          32  Instagram   1054.0
17          34  Instagram   1066.0
18        Male   LinkedIn  22860.0
19      Female   LinkedIn  19350.0
20  Non-binary   LinkedIn  14320.0
21          31   LinkedIn   1010.0
22          22   Snapchat   1040.0
23  Non-binary   Snapchat  20992.0
24          26   Snapchat   1028.0
25          29   Snapchat   1016.0
26      Female   Snapchat  15052.0
27          28   Snapchat   1052.0
28          24   Snapchat   1064.0
29          21   Snapchat   1076.0
30  Non-binary   Telegram   9594.0
31          25   Telegram   2064.0
32          31   Telegram   2136.0
33          34   Telegram   1026.0
34          27   Telegram   1038.0
35        Male   Telegram  26382.0
36  Non-binary    Twitter  10290.0
37      Female    Twitter  31708.0
38          35    Twitter   1044.0
39        Male    Twitter  50642.0
40          26    Twitter   1056.0
41          25    Twitter   1030.0
42          28    Twitter   1018.0
43          22    Twitter   1068.0
44          24    Twitter   1004.0
45          23   Whatsapp   1024.0
46          22   Whatsapp   1012.0
47        Male   Whatsapp   9576.0
48          27   Whatsapp   1060.0
49      Female   Whatsapp  26332.0
50          31   Whatsapp   1036.0
51          28   Whatsapp   1072.0
52          29   Whatsapp   1048.0

# Which users express "Happiness" and use Instagram for more than 150 minutes per day?

In [29]:
query="""SELECT User_ID, Dominant_Emotion, Platform,daily_usage_time_minutes
FROM train
where Dominant_emotion='Happiness'  and  Platform='Instagram' and daily_usage_time_minutes>150
order by daily_usage_time_minutes asc
"""

cur.execute(query)
data=cur.fetchall()

df=pd.DataFrame(data,columns=["user","emotion","platform","daily_usage_time_minutes"])
df

    user    emotion   platform  daily_usage_time_minutes
0     77  Happiness  Instagram                     155.0
1    177  Happiness  Instagram                     155.0
2    277  Happiness  Instagram                     155.0
3    377  Happiness  Instagram                     155.0
4    477  Happiness  Instagram                     155.0
..   ...        ...        ...                       ...
105  524  Happiness  Instagram                     190.0
106  624  Happiness  Instagram                     190.0
107  724  Happiness  Instagram                     190.0
108  824  Happiness  Instagram                     190.0
109  924  Happiness  Instagram                     190.0

[110 rows x 4 columns]

# Who are the top 10 users based on their daily interaction (likes + comments + messages)?

In [36]:
query="""SELECT User_ID, (Likes_Received_Per_Day+Comments_Received_Per_Day+Messages_Sent_Per_Day)
FROM train
order by User_ID desc
limit 10
"""

cur.execute(query)
data=cur.fetchall()

df=pd.DataFrame(data,columns=["User id","likes+comments+messages"])
df

  User id  likes+comments+messages
0   Tabii                      NaN
1     999                     44.0
2     998                    100.0
3     997                     30.0
4     996                     71.0
5     995                    125.0
6     994                     61.0
7     993                     75.0
8     992                    105.0
9     991                     24.0